-@tab = :about
%h1 About
%p
  DojoConf is an intimate conference dedicated to the unbeatable JavaScript toolkit, <a href="http://dojotoolkit.org/">Dojo</a>. It is a focused technical event that brings the existing Dojo community together for two days of social and technical networking. The mission of the conference is to spotlight the successful application and use of the toolkit throughout the industry, both current and in the near future. The 150 international attendees will range from intermediate to advanced Dojo committers and users that are seeking best practices, new methods of use, and insight into the direction of the toolkit.

%p DojoConf is being curated by the JSConf team which have put such amazing events as <a href="http://jsconf.us">JSConf US</a>, <a href="http://capitoljs.com">CapitolJS</a>, and <a href="http://texasjavascript.com">TXJS</a>. The JSConf conference model focuses on two things, presenting mind-altering JavaScript technology during the daytime and providing exceptional "networking" parties during the evenings. JavaScript is exploding on the scene despite years of being behind the curtain as the workhorse of the web. These events are right there to expose and help push the state of the art with JavaScript in the browser, server, mobile, and desktop environments. One of the key differentiators about JSConf events is that its put on by a (crazy) group of JavaScript developers just like you, so we ensure that everything that matters is taken care. We believe quality matters over quantity and that you deserve a better conference every year running.

%h1 Who are we?
.person.clearfix
  %img{:alt => "Chris Williams - Curator JSConf", :height => "150", :src => "images/chris.png", :width => "150"}/
  %h4
    Chris Williams -
    %a{:href => "http://www.twitter.com/voodootikigod"} @voodootikigod
  %p
    Chris is the Vice President of Product Development at
    = succeed "," do
      %a{:href => "http://www.ourparents.com"} OurParents
    co-curator of
    = succeed "," do
      %a{:href => "http://jsconf.com"} JSConf
    and
    = succeed "," do
      %a{:href => "http://capitoljs.com"} CapitolJS
    founder of
    = succeed "," do
      %a{:href => "http://www.iterativedesigns.com"} Iterative Designs
    and producer of
    %a{:href => "http://jsconflive.com"} JSConf Live
    and the
    %a{:href => "http://www.minutewith.com"} Minute With
    podcast series. He has some crazy ideas about how we, technical leaders around the world, should
    = succeed "." do
      %a{:href => "http://voodootikigod.com/jsconf-eu-2010-speech"} grow sustainable development communities
      
  %p
    %a{:href=>"mailto:chris@jsconf.com"} Email Chris
.person.clearfix
  %img{:alt => "Laura Williams - Curator JSConf", :height => "150", :src => "images/laura.png", :width => "150"}/
  %h4
    Laura Williams -
    %a{:href => "http://www.twitter.com/lwilliams"} @lwilliams
  %p
    Laura is the founder of
    %a{:href => "http://lodafloraldesign.com/"} Loda Floral Design
    and the co-curator of
    = succeed "." do
      %a{:href => "http://jsconf.com"} JSConf
    She is the organizational force behind
    %a{:href => "http://jsbootcamp.com"} JS Boot Camp
    in Washington, DC and quite impressively is a licensed architect and an awesome mother.
  %p
    %a{:href=>"mailto:laura@jsconf.com"} Email Laura



%p{:style => "text-align: center; padding-top: 50px"}
  %a{:href => "https://developer.mozilla.org/en/JavaScript", :title => "JavaScript API"}
    %img{:alt => "JavaScript API", :height => "150", :src => "http://static.jsconf.us/promotejsh.gif", :width => "180"}/
  %br/
  %a{:href => "http://promotejs.com"} About PromoteJS
